 
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
 /* Modify navbar and text color */
 .navbar-custom{
    background-color: rgb(30, 30, 94);
 }
 .navbar-icon{
    color: rgb(243, 8, 59);
 }
 .nav-text{
    color: whitesmoke;
 }
 .nav-text:hover,.navbar-icon:hover{
    color: rgb(8, 165, 105);
 }
 .navbar-visit:visited{
    color: rgb(8, 165, 105);
 }
 .navbar-active:active{
    color: red;
 }

 .footbar{
    background-color: rgb(25, 28, 63);
    text-align: center;
 }
 .foot-text{
    color: beige;
 }
 
